<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Wallpaper Android butuh izin ini secara umum -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.software.live_wallpaper" android:required="true" />
    <uses-feature android:glEsVersion="0x00020000" android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_wallpaper_icon"
        android:label="Gentlefin 3D Wallpaper"
        android:hardwareAccelerated="true">

        <service
            android:name=".AquariumWallpaperService"
            android:permission="android.permission.BIND_WALLPAPER"
            android:label="Gentlefin 3D Aquarium"
            android:icon="@drawable/ic_wallpaper_icon"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/wallpaper_config" />
        </service>

    </application>
</manifest>
